<%-include("./parcials/header.ejs") %>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#!">Techno_info</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>


                </ul>
            </div>
        </div>
    </nav>

    <% if( newPost.length> 0){
        for(let i = 0; i < newPost.length; i++){ %>
            <div class="container px-4 px-lg-5">
                <!-- Heading Row-->
                <div class="row gx-4 gx-lg-5 align-items-center my-5">
                    <div class="col-lg-5">
                       <% if(newPost[i].image ) { %>

                        <img class="img-fluid rounded mb-4 mb-lg-0"
                            src="<%= newPost[i].image %>" alt="..." /></div>
                    <% }
                    else { %>
                        <img class="img-fluid rounded mb-4 mb-lg-0"
                            src="https://dummyimage.com/600x400/000/fff" alt="..." /></div>
                    <% } %>
                    <div class="col-lg-7">
                        <h1 class="font-weight-light">
                            <%= newPost[i].title %>
                        </h1>
                        <p>
                            <%= newPost[i].content %>
                        </p>
                        <a class="btn btn-primary" href="/post/<%= newPost[i]._id %>">Read more</a>
                    </div>
                </div>
            </div>
            <% } } else { %>
                <h1>No posts available</h1>
                <% } %>




                    <%-include('./parcials/footer.ejs') %>